// variable
:root {
    --font-body: 'Exo 2', sans-serif;
    --font-heading: 'Exo 2', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-teko: 'Teko', sans-serif;

    --color-primary: #ff6600;
    --color-primary-2: #fa4318;
    --color-secondary: #dc4e11;

    --color-white: #fff;
    --color-black: #000;
    --color-dark: #1f1f1f;
    --color-heading: #1f1f1f;
    --color-default: #494949;
    --color-gray: #f7f7f7;
    --color-gray-2: #f0f0f0;
}
